main {
    display: flex;
    align-items: center;
    align-self: stretch;
    height: 700px;
}

body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
    margin: 0; /* Optional: Remove default body margin */
}




.nav {
    display: flex;
    width: 320px;
    padding: 24px 40px 16px 40px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;  
}

.nav-main-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}



.nav-secondary-actions{
 display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;   
}

.nav-main-actions_title {
color: var(--Base);
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 31.2px */


}

.c-nav {display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;}

.c-nav-option{
    display: flex;
padding: 8px 0;
flex-direction: column;
align-items: center;
gap: 12px;
align-self: stretch;
}

.c-nav-option-title {
 
text-align: center;
color: var(--Base);
/* Subheading */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 26px */
}


.nav-link{
    color: var(--Base);

/* Body Link */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 20.8px */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}


.cd-display {
    display: flex;
    height: 700px;
padding: 12px 12px 0 12px;
flex-direction: column;
align-items: center;
flex: 1 0 0;
align-self: stretch;
}

.cd-review {display: flex;
padding-top: 8px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
flex: 1 0 0;
align-self: stretch;}


.cd-page-nav {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%; ;
}

.cd-page-tabs{
 display: flex;
   flex-direction: row;
width: 140px;
padding: 4px 0px 8px 0px;
justify-content: center;
align-items: center;
gap: 10px;
}

.cd-page-tabs-active {
   display: flex;
   flex-direction: row;
width: 140px;
padding: 4px 0px 8px 0px;
justify-content: center;
align-items: center;
gap: 10px;
border-bottom: 5px solid var(--Warmth);

}

.text-tabs {
    color: var(--Intitle-New-Depth, #164E63);
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 26px */
}


.cd-page-container{
    
}