:root {
  --Base: #164E63; /* new depth brand color */
  --Warmth: #D97706; /*  */
  --White: #fff; /* */
  --Orange: #FBAD4D; /*  */
  --Cream: #FEEFDB; /*  */
  --Gray: #94A3B8; /*  */
  --Tan: #FEEFDB; /*  */
  --Text-Default: #1E1E1E; /*  */
  
}

* {
  font-family: Montserrat, Roboto, sans-serif;
  padding: 0;
  margin: 0;
  margin-top: 0;
}

ul {
  list-style: none;
}

a {
  all: unset;
}




h1 {
  color: var(--Base);
  font-family: montserrat;
  line-height: 130%;
  font-size: 32px;
  font-weight: 700;
}

h2 {
  color: var(--Base);
  font-family: montserrat;
  line-height: 130%;
  font-size: 28px;
  font-weight: 700;
}

p {
    /* Adds spacing between paragraphs so they don't bunch up */
    margin-top: 0;
    font-size: 1rem;
    font-family: roboto;
    font-weight: 400;
    /* Limits the width of text blocks for better readability */
    max-width: 70ch;

    

    /* Improves word spacing and kerning */
    text-rendering: optimizeLegibility;
}

.header-logo {
    display: flex;
width: 320px;
padding: 16px 32px 16px 40px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
flex-shrink: 0;
align-self: stretch;
}

.c-header {
    display: flex;
width: 100%;
padding: 8px 0px;
flex-direction: row;
align-items: flex-start;
gap: 8px;
flex-shrink: 0;
align-self: stretch;
background-color: var(--White);
}

.header-logo{
  display: flex;
width: 320px;
padding: 16px 32px 16px 40px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
flex-shrink: 0;
align-self: stretch;
}

.header_costs-topper {
display: flex;
height: 90px;
padding: 8px 64px;
justify-content: center;
align-items: center;
gap: 120px;
flex: 1 0 0;
border-radius: 8px;
background-color: var(--Tan);
}

.header_loan-info {display: flex;
width: 320px;
padding: 16px 0 16px 32px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 4px;
flex-shrink: 0;
align-self: stretch;}

.header_loan-info-title {
  color: var(--Base);
font-family: Roboto;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: 130%;}

.header_loan-info-data {
  color: var(--Base);

/* Body Base */
font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 19.2px */;

/* Body Base */
font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 19.2px */;}

/** header css */

.header_costs-topper-label {
  color: var(--Base);
text-align: center;
font-family: Roboto;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 26px */
}

.cost-topper-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  align-self: stretch;
}

.header_costs-topper-val{
  color: var(--Base);
  text-align: center;
  font-family: Roboto;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
}


  /** footer css */
.footer {
  display: flex;
width: 100%;
padding: 40px;
align-items: flex-start;
gap: 160px;
flex: 1 0 0;
background: var(--Base);
margin-top: auto;
}

.c-footer-info {
  display: flex;
align-items: flex-start;
gap: 24px;
color: var(--White);
}

.c-footer-info_wrapper {
  display: flex;
align-items: flex-start;
gap: 24px;
}

.c-footer-info-title{
color: var(--White);

/* Subheading */
font-family: Roboto;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 26px */
}

.c-footer-info-text {
  display: flex;
flex-direction: column;
align-items: flex-start;
color: var(--White);
font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 20.8px */
}


.button-main {
  display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: 60px;
background: var(--Base);
width: 240px;
color: var(--Cream);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 120%;
}

.button-main:hover {
  
  cursor: pointer;
  color: var(--White);
  transform: translateX(1px)translateY(1px);
}